@import "colors";

@mixin buttonStyles($bgColor, $textColor) {
  background: $bgColor;
  color: $textColor;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;

  &:hover {
    background-color: darken($bgColor, 10%);
  }
}

.btn-blue {
  @include buttonStyles($blue, $white);
}
.btn-red {
  @include buttonStyles($red, $white);
}
.btn-green {
  @include buttonStyles($green, $white);
}
.btn-yellow {
  @include buttonStyles($yellow, $black);
}

@mixin buttonSizes($size) {
  @if $size == "sm" {
    padding: 5px 10px;
  } @else if $size == "md" {
    padding: 10px 20px;
  } @else if $size == "lg" {
    padding: 20px 40px;
  } @else if $size == "xl" {
    padding: 40px 80px;
  } @else {
    padding: 0px;
  }
}
.btn-sm {
  @include buttonSizes("sm");
}
.btn-md {
  @include buttonSizes("md");
}
.btn-lg {
  @include buttonSizes("lg");
}
.btn-xl {
  @include buttonSizes("xl");
}
