.btn-blue {
  background: #3498db;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
}
.btn-blue:hover {
  background-color: #217dbb;
}

.btn-red {
  background: #e74c3c;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
}
.btn-red:hover {
  background-color: #d62c1a;
}

.btn-green {
  background: #2ecc71;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
}
.btn-green:hover {
  background-color: #25a25a;
}

.btn-yellow {
  background: #f39c12;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
}
.btn-yellow:hover {
  background-color: #c87f0a;
}

.btn-sm {
  padding: 5px 10px;
}

.btn-md {
  padding: 10px 20px;
}

.btn-lg {
  padding: 20px 40px;
}

.btn-xl {
  padding: 40px 80px;
}/*# sourceMappingURL=styles.css.map */