@import "colors";

p {
  background: $primary-color;
}

.box {
  color: $secondary-color;
}

// nesting
nav {
  background: $primary-color;

  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0px 10px;

      &:last-child {
        margin-left: 10px;
      }

      a {
        text-decoration: none;
        color: $secondary-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// mixin
@mixin alert-style($theme: $primary-color) {
  background: $theme;
  padding: 20px 50px;
}

.alert-warning {
  @include alert-style;
}
.alert-danger {
  @include alert-style($theme: $danger-color);
}

// conditionals
$is-mobile: true;
.container {
  @if $is-mobile {
    width: 100%;
  } @else {
    width: 1640px;
  }
}

// rxtend / inheritance
.error {
  background: $danger-color;
  color: $white-color;
}

.error-bordered {
  @extend .error;
  border: 3px solid $black-color;
}
