p {
  background: #2bccc4;
}

.box {
  color: #2b99cc;
}

nav {
  background: #2bccc4;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin: 0px 10px;
}
nav ul li:last-child {
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #2b99cc;
}
nav ul li a:hover {
  text-decoration: underline;
}

.alert-warning {
  background: #2bccc4;
  padding: 20px 50px;
}

.alert-danger {
  background: #c31919;
  padding: 20px 50px;
}

.container {
  width: 100%;
}

.error, .error-bordered {
  background: #c31919;
  color: #fff;
}

.error-bordered {
  border: 3px solid #000;
}/*# sourceMappingURL=styles.css.map */